.google-button {
    display: block;
    background: url(/img/home/google-logo.svg) no-repeat;
    background-size: 18px 18px;
    background-position: left 15px center;
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #000;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}
    
.google-button:hover {
    border: 1px solid #2dbe60;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 18px 52px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
