html, body, main {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
}

html {
  overflow: hidden;

}

body {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
.session-form {
  font-family: "Gotham_SSm_4r", Helvetica, Arial, sans-serif;
  background: rgb(255, 255, 255);
  opacity: 1;
  z-index: 1;
  color: black;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  padding-top: 94px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
}

.session-form > h3 {
  font-family: "Gotham_SSm_4r", Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 33px;
  font-weight: 350;
}

#login-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.errors {
  color: #CB5234;
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.errors > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.errors > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  padding: 0 10px 0 10px;
}

.landing-page-nav {
  opacity: 0.8;
  z-index: 10;
  height: 70px;
  width: 100%;
  background-color: rgba(255,255,255,1);
  border-bottom: 1px solid #eee;
  opacity: 0.98;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#session-control-container > button {
  background-color: #2ab27b;
  border: 3px solid #2ab27b;
  border-radius: 7px;
  height: 45px;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
  padding: 0px;
  height: px;
  color: white;
}

#session-control-container> button:last-of-type {
  margin-right: 20px;
}

#session-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing-page-logo-link {
  color: #2ab27b;
  text-decoration: none;
  margin-left: 10px;
  margin-top: -1px;
  font-size: 40px;
  -ms-flex-item-align: center;
      align-self: center;
}


li#db-error-splash {
    margin-top: 13px;
    display: inline-block;
}


i#splash-page-error-fa {
    margin-top: 13px;
    margin-right: -16px;
}

#tagline {
  display: inline-block;
  margin: 0 auto;
  color: white;
  /* position: absolute; */
  font-size: 15px;
  /* align-self: center; */
  margin-left: 11px;
  vertical-align: center;
  justify-self: flex-end;
  margin-top: 28px;
  color: #2ab27b;
}

.splash-page-intro {
  display: flex;
}

.assurance {
  font-family: "Gotham_SSm_4r", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #989898;
  margin-top: 22px;
}