.intro-text {
	font-family: "Gotham_SSm_4r", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding-top: 94px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
    padding-right: 0px;
    border-right: 1px solid #eee;
}

.intro-text > h1 {
    font-size: 70px;
    line-height: 82px;
    margin-bottom: 15px;
}

.intro-text > h2 {
    font-size: 19px;
    line-height: 34px;
    margin-top: 10px;
}

.intro-quotation {
    font-style: italic;
    color: gray;
    font-size: 19px;
}